@import "../index.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lily+Script+One&family=Nova+Oval&display=swap');

.asideMenu
{
    width:350px;
    height:100%;
    box-shadow: 1px 1px 1px black;
    font-family: 'Bebas Neue', cursive;
    position: relative;

    
    &.menuClosed
    {
        width: 1px;
        // transform: translateX(-220px);
    }


    
    .showMenu
    {
        z-index: 4000;
        width:40px;
        height: 40px;
        border-radius: 50%;
        @include flexCenter;
        box-shadow: 1px 1px 3px black;
        background-color: white;
        position: absolute;
        right:-30px;
        top:40%;
        transform: translateY(-25%);

        &:hover
        {
            cursor: pointer;
            box-shadow: 1px 1px 7px black;
        }

    }

    .tables
    {
        height: 15%;

        h3 
        {
            margin:0;
            padding:10px;
        }

        button
        {
            width:50px;
            height: 50px;
            font-size: 40px;
            background-color: transparent;
            border:none;

            &:hover
            {
                cursor: pointer;
                transform: scale(1.01);
                border-bottom: 1px solid $base-color;
            }
        }
    }

    .guestList
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85%;

        .guestAdd
        {
            width:100%;
            height: 20%;
            @include flexCenter;
            flex-direction: column;

            h3
            {
                margin:0;
                padding:0;
            }

            p
            {
                margin-bottom: 10px;
                width: 80%;
                text-align: right;
                color:$steel-grey;
            }

            .addGuestButtons
            {
                @include flexCenter;
                width:80%;
                gap: 10px;

                button
                {
                    width:70%;
                    height: 40px;
                    border: none;
                    background-color: $base-color;
                    border-radius: 5px;
                    color:white;
                    font-size: 16px;
                    box-shadow: 1px 1px 4px black;

                    &:hover
                    {
                        cursor: pointer;
                        transform: scale(1.01);
                    }
                    &:active
                    {
                        background-color: rgb(144, 118, 46);;
                    }
                }
            }

       
        }

    
        .guestListBox
        {
            padding: 0;
            padding-bottom: 15px;
            width:90%;
            max-height: 80%;
            display: flex;
            gap:20px;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow-y: scroll;
        }
    }
}

.dragActive
{
    background-color: rgb(193, 192, 192);
}
