@import "../index.scss";

.circle
{
    
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: blanchedalmond;
    @include flexCenter;
    position: relative;
    box-shadow: 2px 2px 5px black;
    z-index: 5000;
    transform-style: preserve-3d;
   


    .description
    {
        position: absolute;
        bottom:-15px;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px;
    }
}

