@import "../index.scss";

.circle
{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: blanchedalmond;
    @include flexCenter;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px black;

    .description
    {
        position: absolute;
        bottom:-15px;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px;
    }
}