@import "../index.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lily+Script+One&family=Nova+Oval&display=swap');


.circle
{
    
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: $base-color;
    color:white;
    font-size: 24px;
    @include flexCenter;
    position: relative;
    box-shadow: 2px 2px 5px black;
    z-index: 2000;
    transform-style: preserve-3d;
   


    .description
    {
        position: absolute;
        bottom:-15px;
        background-color: white;
        @include flexCenter;
        color:black;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px;
        font-family: 'Bebas Neue', cursive;
    }

    &:active
    {
        opacity: 0.5;
    }
}



