.main
{
    width:2000px;
    min-height: 100%;
    overflow: scroll;
    background-color: rgb(60, 60, 60);
    // padding:50px;
    box-sizing: border-box;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
    // flex-wrap: wrap;
    box-sizing: border-box;
    resize: both;
}