@import "../index.scss";

.seat
{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(218, 193, 123);
    // border: 2px solid $base-color;
    @include flexCenter;
    margin-left:10px;
    margin-right: 10px;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px black;
        
    &:active
    {
        background-color: rgb(170, 58, 58);
        border: 1px solid white;
    }
  

}

.dragActive
{
    background-color: rgb(74, 179, 253);
    border: 2px solid white;
    box-shadow: 2px 2px 10px rgb(78, 78, 245);
}

.inactiveSeat
{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(218, 193, 123);
    // border: 2px solid $base-color;
    @include flexCenter;
    margin-left:10px;
    margin-right: 10px;
    z-index: 2;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px black;
    font-size: 24px;
}