$base-color: rgb(182, 150, 60);
$steel-grey: rgb(199, 197, 197);

$bride: rgb(187, 56, 56);
$groom: rgb(70, 70, 173);

@mixin flexCenter
{
  display: flex;
  align-items: center;
  justify-content: center;
}


body, html {
  margin: 0;
  /* background-color: grey; */
  height: 100%;
  position: relative;
}

#tableNameChanger
{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.723);
  z-index: 10000;
  @include flexCenter()
}
