$base-color: rgb(182, 150, 60);


@mixin flexCenter
{
  display: flex;
  align-items: center;
  justify-content: center;
}


body, html {
  margin: 0;
  /* background-color: grey; */
  height: 100%;
}
